.pdp-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem; 
  }
  
  .pdp-image img {
    width: 100%;
    height: auto;
  }
  
  .pdp-details {
    display: flex;
    flex-direction: column;
  }
  
  .pdp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pdp-title {
    font-size: 1.875rem; 
    font-weight: bold;
    flex-grow: 1;
  }
  
  .pdp-price {
    font-size: 1.875rem; 
    font-weight: bold;
  }
  
  .pdp-description, .pdp-long-description {
    margin-top: 2.5rem; 
  }
  